<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
  
  <resultMap type="Member" id="memberResultSet">
  	<id property="memId" column="MEM_ID"/>
  	
  	<result property="userType" column="USER_TYPE"/>
  	<result property="memType" column="MEM_TYPE"/>
  	<result property="memEmail" column="MEM_EMAIL"/>
  	<result property="memNick" column="MEM_NICK"/>
  	<result property="memName" column="MEM_NAME"/>
  	<result property="memPwd" column="MEM_PWD"/>
  	<result property="address1" column="ADDRESS1"/>
  	<result property="address2" column="ADDRESS2"/>
  	<result property="address3" column="ADDRESS3"/>
  	<result property="phone" column="PHONE"/>
  	<result property="cellPhone" column="CELLPHONE"/>
  	<result property="faxNo" column="FAX_NO"/>
  	<result property="taxEmail" column="TAX_EMAIL"/>
  	<result property="decCount" column="DEC_COUNT"/>
  	<result property="memAction" column="MEM_ACTION"/>
  	<result property="isAdvertise" column="IS_ADVERTISE"/>
  	<result property="memCreateDate" column="MEM_CREATE_DATE"/>
  	<result property="memModifyDate" column="MEM_MODIFY_DATE"/>
  	<result property="memStatus" column="MEM_STATUS"/>
  	<result property="memTypeName" column="MEM_TYPE_NAME"/>

  	
  </resultMap>

  <resultMap type="Profile" id="profileResultSet">
  	<id property="profileId" column="PROFILE_ID"/>
  	
  	<result property="memId" column="MEM_ID"/>
  	<result property="introduction" column="INTRODUCTION"/>
  	<result property="url" column="URL"/>
  	<result property="proImg" column="PROFILE_IMG"/>
  
  	<!-- <association property="memId" javaType="Member">
  		<result property="memId" column="MEM_ID"/>
  	</association> -->
  </resultMap>
  
  
  
  <!-- 프로필조회 -->
  <select id="selectProfile" parameterType="Profile" resultMap="profileResultSet">
  	SELECT * FROM PROFILE
	WHERE MEM_ID = #{memId}
  </select>
  
  <!-- 로그인하면서 프로필 없으면 생성 -->
  <insert id="insertProfile" parameterType="Profile">
  	INSERT INTO PROFILE
  	VALUES(PROFILE_SEQ.nextval,#{memId},NULL,NULL,NULL)
  </insert>
  
  <!-- 자기소개 수정 -->
  <update id="profileUpdate" parameterType="Profile">
  	UPDATE PROFILE SET
	INTRODUCTION = #{introduction}
	WHERE PROFILE_ID=#{profileId}
  </update>

  <!-- 클라이언트 찾기 리스트 -->
  <resultMap type="FindClient" id="findCLient">
  	<id property="memId" column="MEM_ID"/>
  	<result property="memNick" column="MEM_NICK"/>
  	<result property="memEmail" column="MEM_EMAIL"/>
  	<result property="memTypeName" column="MEM_TYPE_NAME"/>
  	<result property="memType" column="MEM_TYPE"/>
  	<result property="profileImg" column="PROFILE_IMG"/>
  	<result property="introduction" column="INTRODUCTION"/>
  	<result property="avgEagv" column="AVG_E_AGV"/>
  	<result property="countEagv" column="COUNT_E_AGV"/>
  	<result property="countProId" column="COUNT_PRO_ID"/>
  	<result property="maxDcType" column="MAX_DC_TYPE"/>
  	<result property="ideStatus" column="IDE_STATUS"/>
  	<result property="phone" column="PHONE"/>
  </resultMap>
  
  <resultMap type="FindClientDetail" id="findClientDetail">
  	
  </resultMap>
  

  
  <!-- 로그인 -->
  <select id="selectMember" parameterType="Member" resultMap="memberResultSet">
  	SELECT * FROM MEMBER
	WHERE MEM_EMAIL = #{memEmail}
	AND MEM_PWD = #{memPwd}
	AND MEM_STATUS='Y'
  </select>

  

  <!-- 회원가입 -->
  <insert id="insertMember" parameterType="Member">
  	INSERT INTO MEMBER
  	VALUES(
  		MEMID_SEQ.NEXTVAL
  		,#{userType}
  		,#{memType}
  		,#{memEmail}
  		,#{memNick}
  		,#{memName}
  		,#{memPwd}
  		,#{address1}
  		,#{address2}
  		,#{address3}
  		,#{phone}
  		,null
  		,null
  		,null
  		,null
  		,DEFAULT
  		,DEFAULT
  		,SYSDATE
  		,SYSDATE
  		,DEFAULT
  		,null
  		)
  </insert>

  
  
  <!-- 비밀번호 찾기후 비밀번호만 update -->
  <update id="updatePwdMember"  parameterType="Member">
  	UPDATE MEMBER
  	SET MEM_PWD = #{memPwd} 
	WHERE MEM_EMAIL=#{memEmail}
  </update>


  <!-- 클라이언트 찾기(클라이언트 수) -->
  <select id="getListCount" resultType="_int">
  	SELECT COUNT(*)
	FROM MEMBER
	WHERE USER_TYPE = 'UT3' AND MEM_STATUS = 'Y'
  </select>
  
  <!-- 클라이언트 리스트 조회 -->
  <select id="selectList" resultMap="findCLient">
  	SELECT *
  	FROM CLIENTLIST_VIEW
  	WHERE MEM_ID=#{memId}
  </select>
  
  <!-- 클라이언트 디테일 -->
  <select id="selectClientDetail" resultMap="findClientDetail">
  	<!-- 쿼리 결과 2개 나오는거 수정하고 -->
  </select>

</mapper>
