<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
  
  <resultMap type="Member" id="memberResultSet">
  	<id property="memId" column="MEM_ID"/>
  	
  	<result property="userType" column="USER_TYPE"/>
  	<result property="memType" column="MEM_TYPE"/>
  	<result property="memEmail" column="MEM_EMAIL"/>
  	<result property="memNick" column="MEM_NICK"/>
  	<result property="memName" column="MEM_NAME"/>
  	<result property="memPwd" column="MEM_PWD"/>
  	<result property="address1" column="ADDRESS1"/>
  	<result property="address2" column="ADDRESS2"/>
  	<result property="address3" column="ADDRESS3"/>
  	<result property="phone" column="PHONE"/>
  	<result property="cellPhone" column="CELLPHONE"/>
  	<result property="faxNo" column="FAX_NO"/>
  	<result property="taxEmail" column="TAX_EMAIL"/>
  	<result property="decCount" column="DEC_COUNT"/>
  	<result property="memAction" column="MEM_ACTION"/>
  	<result property="isAdvertise" column="IS_ADVERTISE"/>
  	<result property="memCreateDate" column="MEM_CREATE_DATE"/>
  	<result property="memModifyDate" column="MEM_MODIFY_DATE"/>
  	<result property="memStatus" column="MEM_STATUS"/>
  	<result property="memTypeName" column="MEM_TYPE_NAME"/>
  </resultMap>
  
  <!-- 로그인 -->
  <select id="selectOne" parameterType="Member" resultMap="memberResultSet">
  	SELECT * FROM MEMBER
	WHERE MEM_EMAIL = #{memEmail}
	AND MEM_PWD = #{memPwd}
	AND MEM_STATUS='Y'
  </select>

</mapper>
