<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberAccountMapper">
	<!--  -->
	<resultMap type="Identify" id="identifyResultSet">
		<id property="ideId" column="IDE_ID"/>
		<result property="ideName" column="IDE_NAME"/>
		<result property="ideAdress" column="IDE_ADDRESS"/>
		<result property="originalFileName" column="IDE_ORIGINFILE"/>
		<result property="renameFileName" column="IDE_RENAMEFILE"/>
		<result property="ideStatus" column="IDE_STATUS"/>
	</resultMap>
	<resultMap type="MemBasicInfo" id="memBasicInfoResultSet">
		<result property="proImgName" column="PROFILE_IMG"/>
		<result property="utName" column="UT_NAME"/>
		<result property="mtName" column="MEM_TYPE_KIND"/>
		<result property="memName" column="MEM_NAME"/>
		<result property="address1" column="ADDRESS1"/>
		<result property="address2" column="ADDRESS2"/>
		<result property="address3" column="ADDRESS3"/>
		<result property="taxEmail" column="TAX_EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="cellPhone" column="CELLPHONE"/>
		<result property="faxNo" column="FAX_NO"/>
		<result property="bankName" column="BANK_NAME"/>
		<result property="master" column="MASTER"/>
		<result property="accNo" column="ACC_NO"/>
	</resultMap>
	<resultMap type="Bank" id="bankResultSet">
		<id property="bankId" column="BANK_ID"/>
		<result property="bankName" column="BANK_NAME"/>
	</resultMap>
	<resultMap type="MemType" id="memTypeResultSet">
		<id property="memTypeCode" column="MEM_TYPE_CODE"/>
		<result property="memTypeKind" column="MEM_TYPE_KIND"/>
	</resultMap>
	<resultMap type="Signature2" id="sigNature2ResultSet">
		<id property="id" column="SIG_ID"/>
		<result property="memId" column="MEM_ID"/>
		<result property="originFileName" column="SIG_ORIGIN_FILENAME"/>
		<result property="renameFileName" column="SIG_RENAME_FILENAME"/>
		<result property="sigType" column="SIG_TYPE"/>
		<result property="isMain" column="IS_MAIN"/>
	</resultMap>
	<resultMap type="IdenMember" id="idenMemberResultMap">
		<id property="memId" column="IDE_ID"/>
		<result property="memName" column="MEM_NAME"/>
		<result property="phone" column="PHONE"/>
		<result property="cellPhone" column="CELLPHONE"/>
		<result property="faxNo" column="FAX_NO"/>
		<result property="memInGroup" column="MEM_TYPE_NAME"/>
		<result property="ideName" column="IDE_NAME"/>
		<result property="ideAddress" column="IDE_ADDRESS"/>
		<result property="originalFileName" column="IDE_ORIGINFILE"/>
		<result property="renameFileName" column="IDE_RENAMEFILE"/>
	</resultMap>
	 <!-- 회원정보 -->
  <resultMap type="Member" id="memberResultSet">
  	<id property="memId" column="MEM_ID"/>
  	
  	<result property="userType" column="USER_TYPE"/>
  	<result property="memType" column="MEM_TYPE_KIND"/>
  	<result property="memEmail" column="MEM_EMAIL"/>
  	<result property="memNick" column="MEM_NICK"/>
  	<result property="memName" column="MEM_NAME"/>
  	<result property="address1" column="ADDRESS1"/>
  	<result property="address2" column="ADDRESS2"/>
  	<result property="address3" column="ADDRESS3"/>
  	<result property="phone" column="PHONE"/>
  	<result property="cellPhone" column="CELLPHONE"/>
  	<result property="faxNo" column="FAX_NO"/>
  	<result property="taxEmail" column="TAX_EMAIL"/>
  	<result property="decCount" column="DEC_COUNT"/>
  	<result property="memAction" column="MEM_ACTION"/>
  	<result property="isAdvertise" column="IS_ADVERTISE"/>
  	<result property="memCreateDate" column="MEM_CREATE_DATE"/>
  	<result property="memModifyDate" column="MEM_MODIFY_DATE"/>
  	<result property="memStatus" column="MEM_STATUS"/>
  	<result property="memTypeName" column="MEM_TYPE_NAME"/>
  </resultMap>
  <resultMap type="DeclareDTO" id="declareDTOResultSet">
		<id property="decId" column="DEC_ID"/>
		<result property="fromName" column="MEM_NAME"/>
		<result property="fromPhone" column="CELLPHONE"/>
		<result property="decContent" column="DEC_CONTENT"/>
	</resultMap>
  
	<!-- 회원 비밀번호 변경 쿼리 -->
	<select id="updatePwd" parameterType="map">
		UPDATE MEMBER
		SET MEM_PWD = #{password}
		WHERE MEM_ID = #{memId}
	</select>
	
	<!-- 회원 탈퇴 처리 -->
	<update id="decideOut" parameterType="string">
		UPDATE MEMBER
		SET MEM_STATUS = 'N'
		WHERE MEM_ID = #{memId}
	</update>
	
	<!-- 신원인증 관련 정보 조회(1인당 1회) -->
	<select id="selectIdentityInform" parameterType="_int" resultMap="identifyResultSet">
		SELECT * FROM IDENTIFY
		WHERE IDE_ID = #{memId}
	</select>

	<!-- 신원인증 데이터 등록 -->
	<update id="insertIden" parameterType="map">
		UPDATE IDENTIFY
		SET IDE_NAME = #{idenName}, IDE_ADDRESS = #{idenAddress}, IDE_ORIGINFILE = #{originFileName}, IDE_RENAMEFILE = #{renameFileName}, IDE_STATUS = 'ING'
		WHERE IDE_ID = #{memId}
	</update>
	
	<!-- 신원인증 초기화 -->
	<update id="resetIden" parameterType="string">
		UPDATE IDENTIFY
		SET IDE_NAME = NULL, IDE_ADDRESS = NULL, IDE_ORIGINFILE = NULL, IDE_RENAMEFILE = NULL, IDE_STATUS = DEFAULT
		WHERE IDE_ID = #{memId}
	</update>
	
	<!-- 기본계정관리 정보 셀렉 -->
	<select id="selectMemBasicInfo" parameterType="_int" resultMap="memBasicInfoResultSet">
		SELECT
            PROFILE_IMG, UT_NAME, MEM_TYPE_KIND, MEM_NAME, ADDRESS1, ADDRESS2, ADDRESS3, TAX_EMAIL
            , PHONE, CELLPHONE, FAX_NO
            , BANK_NAME, MASTER, ACC_NO
		FROM MEMBER M
		LEFT JOIN MEMTYPE MT ON(M.MEM_TYPE = MT.MEM_TYPE_CODE)
		LEFT JOIN USERTYPE UT ON(UT.UT_CODE = M.USER_TYPE)
		LEFT JOIN PROFILE P ON (P.MEM_ID = M.MEM_ID)
		LEFT JOIN ACCOUNT A ON (A.MEM_ID = P.MEM_ID)
		LEFT JOIN BANK B ON (A.BANK_ID = B.BANK_ID)
		WHERE M.MEM_ID = #{mId}
	</select>
	<!-- 은행 이름들 셀렉 -->
	<select id="selectBankName" resultMap="bankResultSet">
		SELECT * FROM BANK
	</select>
	<!-- 회원형태 셀렉 -->
	<select id="selectMemType" resultMap="memTypeResultSet">
		SELECT * FROM MEMTYPE
	</select>
	
	<!-- 회원 기본정보 수정 -->
	<update id="updateBasicInfo" parameterType="map">
		UPDATE MEMBER
		SET MEM_TYPE = #{mtCode}, MEM_NAME = #{name}, ADDRESS1 = #{address1}, ADDRESS2 = #{address2}, ADDRESS3 = #{address3}, TAX_EMAIL = #{email}
		WHERE MEM_ID = #{mId} 
	</update>
	<update id="updateProfileImg" parameterType="map">
		UPDATE PROFILE
		SET PROFILE_IMG = #{renameFileName}
		WHERE MEM_ID = #{mId}
	</update>
	
	<!-- 회원 연락처 정보 수정 -->
	<update id="updatePhoneInfo" parameterType="map">
		UPDATE MEMBER
		SET PHONE = #{homePhone}, CELLPHONE = #{cellPhone}, FAX_NO = #{faxPhone}
		WHERE MEM_ID = #{mId}
	</update>
	
	<!-- 회원 계좌정보 생성 혹은 수정 -->
	<update id="updateInsertAccountInfo" parameterType="map">
		MERGE INTO ACCOUNT
		USING DUAL
		   ON (ACC_ID = 1)
		WHEN MATCHED THEN
		    UPDATE SET BANK_ID = #{bankName}, MASTER = #{master}, ACC_NO = #{acNum}
		    WHERE MEM_ID = #{mId}
		WHEN NOT MATCHED THEN
		    INSERT (ACC_ID, BANK_ID, MASTER, ACC_NO, MEM_ID)
		    VALUES ((SELECT NVL(MAX(ACC_ID),0)+1 FROM ACCOUNT), #{bankName}, #{master}, #{acNum}, #{mId})
	</update>
	
	<!-- 회원 날인리스트 조회 -->
	<select id="selectSignatureList" parameterType="_int" resultMap="sigNature2ResultSet">
		SELECT * FROM SIGNATURE
		WHERE MEM_ID = #{memId}
		ORDER BY SIG_ID DESC
	</select>
	
	<!-- 날인 삭제 전 프로젝트에서 사용한 이력이 있는 날인인지 여부 조회 -->
	<select id="searchProjectForSigDelete" parameterType="string" resultType="integer">
		SELECT S.SIG_ID
		FROM SIGNATURE S
		WHERE EXISTS (SELECT SIG_ID FROM PROJECT P WHERE S.SIG_ID = P.SIG_ID AND SIG_ID = #{sigId})
	</select>
	
	<!-- 회원 날인리스트 삭제 -->
	<delete id="deleteSignature" parameterType="string" >
		DELETE FROM SIGNATURE
		WHERE SIG_ID = #{id}
	</delete>
	
	<!-- 주사용날인으로 새등록 혹은 변경 -->
	<update id="changeMainSignature" parameterType="map">
		UPDATE SIGNATURE
		SET IS_MAIN = 'Y'
		WHERE SIG_ID = #{id}
	</update>
	<update id="changeCommonSignature" parameterType="map">
		UPDATE SIGNATURE
		SET IS_MAIN = 'N'
		WHERE SIG_ID = #{cId}
	</update>
	
	<!-- 서명 날인 등록 -->
	<insert id="insertSign" parameterType="map">
		INSERT INTO SIGNATURE
		VALUES ((SELECT NVL(MAX(SIG_ID), 0) + 1 FROM SIGNATURE), #{memId}, #{originFileName}, #{renameFileName}, 'SIGN', 'N')
	</insert>
	
	<!-- 회원가입시 테이블 생성(호준이가 낑겨놓음) -->
	<insert id="signInsert" parameterType="Identify">
		INSERT INTO IDENTIFY
		VALUES(#{memId},NULL,NULL,NULL,NULL,DEFAULT)
	</insert>
	
	<!-- 도장 날인 등록 -->
	<insert id="insertStamp" parameterType="map">
		INSERT INTO SIGNATURE
		VALUES ((SELECT NVL(MAX(SIG_ID), 0) + 1 FROM SIGNATURE), #{mId}, '비어있음', #{renameFileName}, 'STAMP', 'N')
	</insert>
	
	<!-- 보안로그인 위해 비번 가져오기 -->
	<select id="getPwd" parameterType="_int" resultType="string">
		SELECT MEM_PWD FROM MEMBER
		WHERE MEM_ID = #{mId}
	</select>
	
	<!-- 신원인증요청 내역 관리를 위해 요청 관련 정보 가져오기(최신순으로 순서를 매길 수 있는 컬럼이 없다..날짜도 없고 기본키가 순서를 내포하는 고유식별자도 아님..날짜를 넣었어야했다) -->
	<select id="selectIdenMember" resultMap="idenMemberResultMap">
		SELECT I.*, MEM_NAME, PHONE, CELLPHONE, FAX_NO, MEM_TYPE_NAME
		FROM IDENTIFY I
		JOIN MEMBER M ON(I.IDE_ID = M.MEM_ID)
		WHERE IDE_STATUS = 'ING'
	</select>
	
	<!-- 신원인증 요청(수락/거부) -->
	<update id="acceptIden" parameterType="string">
		UPDATE IDENTIFY
		SET IDE_STATUS = 'COMPLETE'
		WHERE IDE_ID = #{ideId}
	</update>
	<update id="requestIden" parameterType="string">
		UPDATE IDENTIFY
		SET IDE_STATUS = 'RE'
		WHERE IDE_ID = #{ideId}
	</update>
	
	<!-- 신고 3회이상이라 제재먹은 회원 불러오기(쓸제업는 컬럼 빼야하지만 귀찮) -->
	<select id="selectDeclareMems" resultMap="memberResultSet">
		SELECT *
		FROM MEMBER M
		JOIN MEMTYPE MT ON (M.MEM_TYPE = MT.MEM_TYPE_CODE)
		WHERE DEC_COUNT >= 3
		ORDER BY MEM_MODIFY_DATE
	</select>
	
	<!-- 신고내역 디테일 -->
	<select id="selectDeclares" resultMap="declareDTOResultSet">
		SELECT DEC_ID, MEM_NAME, CELLPHONE, DEC_CONTENT
		FROM DECLARE D
		LEFT JOIN MEMBER M ON (D.FROM_ID = MEM_ID)
		WHERE TO_ID = 5
		ORDER BY DEC_ID DESC
	</select>
	
	<!-- 신고카운트 리셋하여 풀어주고 부활절 카운트 추가하지 않음(관리자가 풀어준건 죄가 없기때문이라고 생각하므로) -->
	<update id="releaseSanctions" parameterType="string">
		UPDATE MEMBER
		SET DEC_COUNT = 0
		WHERE MEM_ID = #{memId}
	</update>
</mapper>
