<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper2">
	<resultMap type="Member2" id="memberResultSet">
		<id property="mId" column="MEM_ID"/>
		<result property="userType" column="USER_TYPE"/>
		<result property="mEmail" column="MEM_EMAIL"/>
		<result property="mNick" column="MEM_NICK"/>
		<result property="mName" column="MEM_NAME"/>
		<result property="mPwd" column="MEM_PWD"/>
		<result property="is_ad" column="IS_ADVERTISE"/>
	</resultMap>
	<resultMap type="ChatUserInfo" id="chatUserInfoResultSet">
		<result property="mId" column="MEM_ID"/>
		<result property="userType" column="USER_TYPE"/>
		<result property="typeName" column="UT_NAME"/>
		<result property="memType" column="MEM_TYPE"/>
		<result property="memTypeKind" column="MEM_TYPE_KIND"/>
		<result property="mNick" column="MEM_NICK"/>
		<result property="mName" column="MEM_NAME"/>
		<result property="mEmail" column="MEM_EMAIL"/>
		<result property="phone" column="PHONE"/>
		<result property="cellPhone" column="CELLPHONE"/>
		<result property="memTypeName" column="MEM_TYPE_NAME"/>
		<result property="proImgName" column="PROFILE_IMG"/>
	</resultMap>
	
	<select id="selectOne" parameterType="Member2" resultMap="memberResultSet">
		SELECT MEM_ID, USER_TYPE, MEM_EMAIL, MEM_NICK, MEM_NAME, MEM_PWD, IS_ADVERTISE
		FROM MEMBER
		WHERE MEM_EMAIL = #{mEmail}
		AND MEM_PWD = #{mPwd}
		AND MEM_STATUS = 'Y'
	</select>

	<!-- 채팅창이 가용한 동시에(로그인과 동시에) 관리자 정보 싹다 불러옴  -->
	<select id="selectAllAdmin" resultMap="chatUserInfoResultSet">
		SELECT *
		FROM CHATUSER_INFO
		WHERE USER_TYPE IN ('UT1', 'UT2')
	</select>
	
	<!--decCount와 death와 modifydate를 불러옴(제재판단)  -->
	<select id="isDeathOrSanctions" parameterType="string" resultType="map">
		SELECT DEC_COUNT, DEATH, MEM_MODIFY_DATE
		FROM MEMBER
		WHERE MEM_EMAIL = #{memEmail}
	</select>
	<!-- 제재 자동종료되었을 시 (이땐 death를 증가시킴, 관리자는 억울한 경우에 해제 시키므로 DEATH를 늘리지 않고 지운다)-->
	<update id="updateDecAndDeath" parameterType="string">
		UPDATE MEMBER
		SET DEC_COUNT = 0, MEM_MODIFY_DATE = NULL, DEATH = (SELECT NVL(DEATH,0) + 1 FROM MEMBER WHERE MEM_EMAIL = #{memEmail})
		WHERE MEM_EMAIL = #{memEmail}
	</update>
	<!-- 자동 회원 탈퇴처리(지금은 로그인마다 실행되게 해놨음 -->
	<update id="toDeath" parameterType="string">
		UPDATE MEMBER
		SET MEM_STATUS = 'N', MEM_MODIFY_DATE = SYSDATE, DEATH = 3
		WHERE MEM_EMAIL = #{memEmail}
	</update>
</mapper>
