<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="myPageMapper">

	<!-- 파트너스 정보 -->
	<resultMap type="PartInfo" id="partInfoResultSet">
		<id property="piId" column="PI_ID"/>
		
		<result property="wtId" column="WT_ID"/>
		<result property="mcId" column="MC_ID"/>
		<result property="piType" column="PI_TYPE"/>
		<result property="profileId" column="PROFILE_ID"/>
		
	</resultMap>
	
	<!-- 포트폴리오 -->
	<resultMap type="PortFolio" id="portFolioResultSet">
		<id property="portId" column="PORT_ID"/>
		
		<result property="profileId" column="PROFILE_ID"/>
		<result property="mcId" column="MC_ID"/>
		<result property="dcId" column="DC_ID"/>
		<result property="portName" column="PROT_NAME"/>
		<result property="portJoin" column="PORT_JOIN"/>
		<result property="content" column="PORT_CONTENT"/>
		<result property="portStartDate" column="PORT_START_DATE"/>
		<result property="portEndDate" column="PORT_END_DATE"/>
		
	</resultMap>
	
	<!-- 포트폴리오 이미지 -->
	<resultMap type="PortImg" id="portImgResultset">
		<id property="portImgId" column="PORT_IMG_ID"/>
		
		<result property="portId" column="PORT_ID"/>
		<result property="portImgContent" column="PORT_IMG_CONTENT"/>
		<result property="portImgPath" column="PORT_IMG_PATH"/>
		
	</resultMap>
	
	
	<!-- 포트폴리오 기술 -->
	<resultMap type="PortTec" id="portTecResultSet">
		<id property="portId" column="PORT_ID"/>
		
		<result property="tId" column="T_ID"/>
		<result property="ptId" column="PT_ID"/>
		
	</resultMap>
	
	<!-- 보유 기술 -->
	<resultMap type="Skill" id="skillResultSet">
		<id property="skillId" column="SKILL_ID"/>
		
		<result property="profileId" column="PROFILE_ID"/>
		<result property="skillKind" column="SKILL_KIND"/>
		<result property="skillLevel" column="SKILL_LEVEL"/>
		<result property="skillYear" column="SKILL_YEAR"/>
		
	</resultMap>
	
	<!-- 경력 -->
	<resultMap type="Career" id="careerResultSet">
		<id property="cId" column="C_ID"/>
		
		<result property="cName" column="C_NAME"/>
		<result property="cDept" column="C_DEPT"/>
		<result property="cPosition" column="C_POSITION"/>
		<result property="cStartDate" column="C_START_DATE"/>
		<result property="cEndDate" column="C_END_DATE"/>
		<result property="cContent" column="C_CONTENT"/>
		<result property="profileId" column="PROFILE_ID"/>		
		
	</resultMap>
	
	<!-- 평가 -->
	<resultMap type="Eval" id="evalResultSet">
		<id property="eId" column="E_ID"/>
		
		<result property="eWriter" column="E_WRITER"/>
		<result property="eTarget" column="E_TARGET"/>
		<result property="epId" column="EP_ID"/> 
		<result property="eAgv" column="E_AGV"/>
		<result property="eContent" column="E_CONTENT"/>
		<result property="eStar1" column="E_STAR1"/>
		<result property="eStar2" column="E_STAR2"/>
		<result property="eStar3" column="E_STAR3"/>
		<result property="eStar4" column="E_STAR4"/>
		<result property="eStar5" column="E_STAR5"/>
		<result property="eCreateDate" column="E_CREATE_DATE"/>
		<result property="eStatus" column="E_STATUS"/>
		
	</resultMap>

	<!-- 학력 -->
	<resultMap type="SCCareer" id="sccareerResltSet">
		<id property="scId" column="SC_ID"/>
		
		<result property="sgId" column="SG_ID"/>
		<result property="ssId" column="SS_ID"/>
		<result property="scName" column="SC_NAME"/>
		<result property="scMajor" column="SC_MAJOR"/>
		<result property="scStartDate" column="SC_START_DATE"/>
		<result property="scEndDate" column="SC_END_DATE"/>
		<result property="profileId" column="PROFILE_ID"/>
		
	</resultMap>
	
	<!-- 자격증 -->
	<resultMap type="Certificate" id="certificateResultSet">
		<id property="ccId" column="CC_ID"/>
		
		<result property="profileId" column="PROFILE_ID"/>
		<result property="ccName" column="CC_NAME"/>
		<result property="ccPlace" column="CC_PLACE"/>
		<result property="ccCreateDate" column="CC_CREATE_DATE"/>
		<result property="ccNumber" column="CC_NUMBER"/>

	</resultMap>

	<!-- <resultMap type="PartInfoDetail" id="PIDetail">
		<id property="piId" column="PI_ID"/>
		
		<result property="wtId" column="WT_ID"/>
		<result property="mcId" column="MC_ID"/>
		<result property="piType" column="PI_TYPE"/>
		<result property="profileId" column="PROFILE_ID"/>
		
		<association property="MCate" javaType="MCate"/>
		<result property="mcId" column="MC_ID"/>
		<result property="mcType" column="MC_TYPE"/>
	</resultMap> -->
	
	<!-- 클라이언트 마이페이지 메인 -->
	<resultMap type="CmypageProjectHistory" id="projectHistoryResult">
  	<id property="memId" column="MEM_ID"/>
  	<result property="memNick" column="MEM_NICK"/>
  	<result property="memTypeKind" column="MEM_TYPE_KIND"/>
  	<result property="ideStatus" column="IDE_STATUS"/>
  	<result property="phone" column="PHONE"/>
  	<result property="proImg" column="PROFILE_IMG"/>
  	<result property="addProject" column="ADD_PROJECT"/>
  	<result property="stopProject" column="STOP_PROJECT"/>
  	<result property="ingProject" column="ING_PROJECT"/>
  	<result property="allPayment" column="ALL_PAYMENT"/>
  	<result property="avgEagv" column="AVG_E_AGV"/>
  	<result property="completeProject" column="COMPLETE_PROJECT"/>
  	<result property="countEagv" column="COUNT_E_AGV"/>
  	<result property="star1" column="STAR1"/>
  	<result property="star2" column="STAR2"/>
  	<result property="star3" column="STAR3"/>
  	<result property="star4" column="STAR4"/>
  	<result property="star5" column="STAR5"/>
  </resultMap>
  
  <resultMap type="CmypageSuggest" id="cmSuggestResult">
  	<result property="cId" column="CID"/>
  	<result property="pId" column="PID"/>
  	<result property="memNick" column="MEM_NICK"/>
  	<result property="memTypeKind" column="MEM_TYPE_KIND"/>
  	<result property="mcType" column="MC_TYPE"/>
  	<result property="career" column="CAREER"/>
  	<result property="proName" column="PRO_NAME"/>
  </resultMap>
  
  <resultMap type="CmypageProcess" id="cmProcessResult">
  	<id property="memId" column="MEM_ID"/>
  	<result property="proName" column="PRO_NAME"/>
  	<result property="mcType" column="MC_TYPE"/>
  	<result property="dcType" column="DC_TYPE"/>
  	<result property="proPayment" column="PRO_PAYMENT"/>
  	<result property="proStartDate" column="PRO_START_DATE"/>
  	<result property="proEndDate" column="END_DATE"/>
  </resultMap>
  <resultMap type="CmypageCountPartners" id="cmCountPartners">
  	<result property="memId" column="MEM_ID"/>
	<result property="countPartners" column="COUNT_PARTNERS"/>
  </resultMap>
  
  <resultMap type="CmypageClientInfo" id="clientInfoResult">
  	<id property="memId" column="MEM_ID"/>
  	<result property="userType" column="USER_TYPE"/>
  	<result property="memNick" column="MEM_NICK"/>
  	<result property="memTypeKind" column="MEM_TYPE_KIND"/>
  	<result property="memEmail" column="MEM_EMAIL"/>
  	<result property="ideStatus" column="IDE_STATUS"/>
  	<result property="phone" column="PHONE"/>
  	<result property="cellPhone" column="CELLPHONE"/>
  	<result property="proImg" column="PROFILE_IMG"/>
  	<result property="addProject" column="ADD_PROJECT"/>
  	<result property="contractProject" column="CONTRACT_PROJECT"/>
  	<result property="introduction" column="INTRODUCTION"/>
  	<result property="url" column="URL"/>
  </resultMap>
  
  <resultMap type="PmypagePartnersInfo" id="partnersInfoResult">
  	<id property="memId" column="MEM_ID"/>
  	<result property="memNick" column="MEM_NICK"/>
  	<result property="memTypeKind" column="MEM_TYPE_KIND"/>
  	<result property="email" column="MEM_EMAIL"/>
  	<result property="iStatus" column="IDE_STATUS"/>
  	<result property="phone" column="PHONE"/>
  	<result property="cellPhone" column="CELLPHONE"/>
  	<result property="proImg" column="PROFILE_IMG"/>
  </resultMap>
  
  <resultMap type="PartnersApplyCount" id="applyCountResult">
  	<result property="proAid" column="PRO_AID"/>
  	<result property="memPid" column="MEM_PID"/>
  	<result property="proId" column="PRO_ID"/>
  	<result property="proApayment" column="PRO_APAYMENT"/>
  	<result property="proAduration" column="PRO_ADURATION"/>
  	<result property="proAcontent" column="PRO_ACONTENT"/>
  	<result property="proAresume" column="PRO_ARESUME"/>
  	<result property="proRearesume" column="PRO_REARESUME"/>
  	<result property="proApplyDate" column="PRO_APPLY_DATE"/>
  	<result property="proAsaveStatus" column="PRO_ASAVE_STATUS"/>
  	<result property="proAstatus" column="PRO_ASTATUS"/>
  </resultMap>
  
  <resultMap type="PartnersContractCount" id="contractCountResult">
  	<id property="memId" column="MEM_ID"/>
  	<result property="countContract" column="PRO_PM_ID"/>
  </resultMap>
  
  <resultMap type="PmypageSuggest" id="pSuggestResult">
  	<id property="memId" column="MEM_ID"/>
  	<result property="memNick" column="MEM_NICK"/>
  	<result property="memTypeKind" column="MEM_TYPE_KIND"/>
  	<result property="eAgv" column="E_AGV"/>
  	<result property="proName" column="PRO_NAME"/>
  </resultMap>
  
  <resultMap type="PmypageProcess" id="pProcessResult">
  	<result property="proName" column="PRO_NAME"/>
  	<result property="mcType" column="MC_TYPE"/>
  	<result property="dcType" column="DC_TYPE"/>
  	<result property="proPayment" column="PRO_PAYMENT"/>
  	<result property="proStartDate" column="PRO_START_DATE"/>
  	<result property="endDate" column="END_DATE"/>
  	<result property="countPartners" column="COUNT_PARTNERS"/>
  	<result property="memId" column="MEM_ID"/>
  </resultMap>
  
	
	<!-- 회원가입시  파트너스 정보 기본으로 생성 -->
	<insert id="insertPartInfo" parameterType="PartInfo">
		INSERT INTO PARTINFO
		VALUES(PI_SEQ.NEXTVAL,'WT1','MC1',1,#{profileId})
	</insert>
	
	<!-- 파트너스정보 조회 -->
	<select id="selectPartInfo" parameterType="PartInfo" resultMap="partInfoResultSet">
		SELECT * FROM PARTINFO 
		WHERE PROFILE_ID=#{profileId}
	</select>
	
	<!-- 파트너스정보 수정 -->
	<update id="partInfoUpdate" parameterType="PartInfo">
		UPDATE PARTINFO 
		SET WT_ID = #{wtId}
		, MC_ID = #{mcId}
		, PI_TYPE = #{piType}
		WHERE PROFILE_ID = #{profileId}
	</update>
	
	<!-- myPage insert -->
	
	<!-- 포트폴리오 추가 -->
	<insert id="insertPortfolio" parameterType="PortFolio">
		INSERT INTO PORTFOLIO
		VALUES(PORT_SEQ.NEXTVAL,#{profileId},#{mcId},#{dcId},#{portName},
		#{portJoin},#{content},TO_DATE(#{portStartDate},'YYYY-MM'),TO_DATE(#{portEndDate},'YYYY-MM'))
	</insert>
	
	
	<!-- 포트폴리오 이미지 추가 -->
	<insert id="insertPortImg" parameterType="PortImg">
		INSERT INTO PORT_IMG
		VALUES(PORT_IMG_SEQ.nextval,#{portId},#{portImgContent},#{portImgPath})
	</insert>
	
	<!-- 포트폴리오 기술 추가 -->
	<insert id="insertPortTect" parameterType="PortTec">
		INSERT INTO PORT_TEC
		VALUES(#{portId},#{tId},PT_SEQ.nextval)
	</insert>
	
	<!-- 보유기술 추가 -->
	<insert id="insertSkill" parameterType="Skill">
		INSERT INTO SKILL
		VALUES(SKILL_SEQ.NEXTVAL,#{profileId},#{skillKind},#{skillLevel},#{skillYear})
	</insert>
	
	<!-- 경력 추가 -->
	<insert id="insertCareer" parameterType="Career">
		INSERT INTO CAREER
		VALUES(C_SEQ.NEXTVAL,#{cName},#{cDept},#{cPosition},TO_DATE(#{cStartDate},'YYYY-MM'),TO_DATE(#{cEndDate},'YYYY-MM'),#{cContent},#{profileId})
	</insert>
	
	<!-- 자격증 추가 -->
	<insert id="insertCertificate" parameterType="Certificate">
		INSERT INTO CERTIFICATE
		VALUES(CC_SEQ.NEXTVAL,#{profileId},#{ccName},#{ccPlace},TO_DATE(#{ccCreateDate},'YYYY-MM-DD'),#{ccNumber})
	</insert>
	
	<!-- 학력 추가 -->
	<insert id="insertSCCareer" parameterType="SCCareer">
		INSERT INTO SC_CAREER
		VALUES(SC_SEQ.nextval,#{sgId},#{ssId},#{scName},#{scMajor},TO_DATE(#{scStartDate},'YYYY-MM'),TO_DATE(#{scEndDate},'YYYY-MM'),#{profileId})
	</insert>
	
	
	<!-- myPage 포트폴리오 전체 Select -->
	<select id="selectListPortFolio" parameterType="_int" resultMap="portFolioResultSet">
		SELECT * FROM PORTFOLIO
		WHERE PROFILE_ID=#{profileId}
	</select>
	
	<!-- myPage 보유 기술 전체 Select -->
	<select id="selectListSKill" parameterType="_int" resultMap="skillResultSet">
		SELECT * FROM SKILL
		WHERE PROFILE_ID=#{profileId}
	</select>
	
	<!-- myPage 경력 전체 Select -->
	<select id="selectListCareer" parameterType="_int" resultMap="careerResultSet">
		SELECT C_ID,C_NAME,C_DEPT,C_POSITION,C_START_DATE,C_END_DATE,C_CONTENT ,PROFILE_ID FROM CAREER
		WHERE PROFILE_ID=#{profileId}
		<!-- SELECT * FROM CAREER
		WHERE PROFILE_ID=#{profileId} -->
	</select>
	
	<!-- myPage 학력 전체 Select -->
	<select id="selectListSCCareer" parameterType="_int" resultMap="sccareerResltSet">
		SELECT * FROM SC_CAREER
		WHERE PROFILE_ID=#{profileId}
	</select>
	
	<!-- myPage 자격증 전체 Select -->
	<select id="selectListCertificate" parameterType="_int" resultMap="certificateResultSet">
		SELECT * FROM CERTIFICATE
		WHERE PROFILE_ID=#{profileId}
	</select>
	
	<!-- myPage 스킬 delete -->
	<delete id="deleteSkill" parameterType="_int">
		DELETE FROM SKILL
		WHERE SKILL_ID=#{skillId}
	</delete>
	
	<!-- myPage 경력 delete -->
	<delete id="deleteCareer" parameterType="_int">
		DELETE FROM CAREER
		WHERE C_ID=#{cId}
	</delete>
	
	<!-- myPage 학력 delete -->
	<delete id="deleteAca" parameterType="_int">
		DELETE FROM SC_CAREER
		WHERE SC_ID=#{scId}
	</delete>
	
	<!-- myPage 자격증 delete -->
	<delete id="deleteCerti" parameterType="_int">
		DELETE FROM CERTIFICATE
		WHERE CC_ID=#{ccId}
	</delete>
	
	<!-- myPage 포트폴리오 포트번호 select -->
	<select id="selectPortId" parameterType="String" resultType="_int">
		SELECT port_id FROM PORTFOLIO
		WHERE PROT_NAME=#{portName}
	</select>
	
	<!-- myPage 포트폴리오 이미지 삭제 -->
	<delete id="deletePortImg" parameterType="_int">
		DELETE FROM PORT_IMG
		WHERE PORT_ID=#{portId}
	</delete>
	
	<!-- myPage 포트폴리오 기술 삭제 -->
	<delete id="deletePortTec" parameterType="_int">
		DELETE FROM PORT_TEC
		WHERE PORT_ID=#{portId}
	</delete>
	
	<!-- myPage 포트폴리오 삭제 -->
	<delete id="deletePortFolio" parameterType="_int">
		DELETE FROM PORTFOLIO
		WHERE PORT_ID=#{portId}
	</delete>

	<!-- 클라이언트 마이페이지 메인 정보 조회 -->
	<select id="selectProjectHistory" parameterType="int" resultMap="projectHistoryResult">
		SELECT * 
		FROM PROJECTHISTORY_VIEW
		WHERE MEM_ID=#{cId }
	</select>
	
	<!-- 클라이언트 마이페이지 메인 내게 온 제안 -->
	<select id="selectSuggest" parameterType="int" resultMap="cmSuggestResult">
		SELECT * 
		FROM CMYPAGE_SUGGEST_VIEW
		WHERE CID=#{cId }
	</select>
	
	<!-- 클라이언트 마이페이지 메인 진행중인 프로젝트 -->
	<select id="selectProcess" parameterType="int" resultMap="cmProcessResult">
		SELECT *
		FROM CMYPAGE_PROCESS_VIEW
		WHERE MEM_ID=#{cId }
	</select>
	<select id="getCountPartners" parameterType="int" resultMap="cmCountPartners">
		SELECT *
		FROM CMYPAGE_COUNT_PARTNERS_VIEW
		WHERE MEM_ID=#{cId}
	</select>
	
	<!-- 클라이언트 마이페이지 클라이언트 정보 -->
	<select id="selectClientInfo" parameterType="int" resultMap="clientInfoResult">
		SELECT *
		FROM CLIENTINFO_VIEW
		WHERE MEM_ID=#{cId}
	</select>
	
	<!-- profileId를 활용한 프로필 조회 -->
	<select id="portList" parameterType="_int" resultMap="portFolioResultSet">
		SELECT * FROM PORTFOLIO
		WHERE PROFILE_ID = #{profileId}
	</select>
	
	
	<!-- 포트폴리이 기술 view -->
	<resultMap type="PortTecView" id="portTecViewResultSet">
		<id property="portId" column="PORT_ID"/>
		<result property="tId" column="T_ID"/>
		<result property="tName" column="T_NAME"/>

	</resultMap>
	
	<select id="ptList" parameterType="_int" resultMap="portTecViewResultSet">
		SELECT * FROM PORTTEC_VIEW
		WHERE PORT_ID=#{portId}
	</select>
	
	<!-- 마이페이지 사이드메뉴바 프로필사진이름 가져오기 -->
	<select id="getMyPageSidebarProImg" parameterType="string" resultType="string">
		SELECT PROFILE_IMG
		FROM PROFILE P, MEMBER M
		WHERE P.MEM_ID = M.MEM_ID AND M.MEM_ID = #{mId}
	</select>
	
	<!-- 파트너스 마이페이지 메인 유저정보 -->
	<select id="selectPartnersInfo" parameterType="int" resultMap="partnersInfoResult">
		SELECT *
		FROM PARTNERSINFO_VIEW
		WHERE MEM_ID=#{pId}
	</select>
	<select id="getApplyCount" parameterType="int" resultMap="applyCountResult">
		SELECT PRO_ID
		FROM P_APPLY PA
		WHERE MEM_PID=#{pId}
	</select>
	<select id="getContractCount" parameterType="int" resultMap="contractCountResult">
		SELECT PRO_PM_ID
		FROM P_MATCH
		WHERE MEM_ID=#{pId}
	</select>
	
	<!-- 파트너스 마이페이지 내게 온 제안 -->
	<select id="selectPartnersSuggest" parameterType="int" resultMap="pSuggestResult">
		SELECT *
		FROM PARTNERSMAIN_SUGGEST_VIEW
		WHERE MEM_ID=#{pId}
	</select>
	
	<!-- 파트너스 마이페이지 진행중 프로젝트 -->
	<select id="selectPartnersProcess" parameterType="int" resultMap="pProcessResult">
		SELECT *
		FROM PARTNERSMAIN_INGPROJECT_VIEW
		WHERE MEM_ID=#{pId}
	</select>
	
	<!-- 포트폴리오 이름 중복 제거 -->
	<select id="portNameCount" resultType="int">
		SELECT COUNT(*) FROM PORTFOLIO
		WHERE PROT_NAME=#{portName}
	</select>
	
	<!-- 포트폴리오관련기술 list -->
	<select id="tNameList" parameterType="int" resultMap="portTecViewResultSet">
		SELECT * FROM PORTTEC_VIEW
		WHERE PORT_ID=#{portId}
	</select>
	
	<!-- 포트폴리오 갯수 -->
	<select id="portCount" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM PORTFOLIO
		WHERE PROFILE_ID=#{profileId}
	</select>
	
</mapper>
