<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.DeVenue.project.model.vo.Project" alias="Project"/>
	    <typeAlias type="com.kh.DeVenue.project.model.vo.ProjectList" alias="ProjectList"/>
	
	    <typeAlias type="com.kh.DeVenue.project.model.vo.ApplyConfirm" alias="ApplyConfirm"/>
	    <typeAlias type="com.kh.DeVenue.project.model.vo.Tech" alias="Tech"/>
	    <typeAlias type="com.kh.DeVenue.project.model.vo.ProjectQuestion" alias="ProjectQuestion"/>
	    <typeAlias type="com.kh.DeVenue.member.model.vo.Member" alias="Member"/>
	    <typeAlias type="com.kh.DeVenue.project.model.vo.ProjectDetail" alias="ProjectDetail"/>
	    <typeAlias type="com.kh.DeVenue.project.model.vo.ProjectQuestion" alias="Question"/>
	    <typeAlias type="com.kh.DeVenue.project.model.vo.Reply" alias="Reply"/>
	    <typeAlias type="com.kh.DeVenue.member.model.vo.Profile" alias="Profile"/>
	    <typeAlias type="com.kh.DeVenue.project.model.vo.ProjectLike" alias="Like"/>
	    <typeAlias type="com.kh.DeVenue.member.model.vo.FindClient" alias="FindClient"/>
		
		<typeAlias type="com.kh.DeVenue.model.vo.Member" alias="Member2"/>
		<typeAlias type="com.kh.DeVenue.util.model.vo.ChatRel" alias="ChatRel"/>
		<typeAlias type="com.kh.DeVenue.util.model.vo.ChatRoom" alias="ChatRoom"/>
		<typeAlias type="com.kh.DeVenue.util.model.vo.Message" alias="Message"/>
		<typeAlias type="com.kh.DeVenue.util.model.vo.ChatSet" alias="ChatSet"/>
		<typeAlias type="com.kh.DeVenue.util.model.vo.MemChatSet" alias="MemChatSet"/>
		<typeAlias type="com.kh.DeVenue.util.model.vo.Ask" alias="Ask"/>
		<typeAlias type="com.kh.DeVenue.util.model.vo.ChatList" alias="ChatList"/>
		<typeAlias type="com.kh.DeVenue.util.model.vo.ChatUser" alias="ChatUser"/>
		<typeAlias type="com.kh.DeVenue.util.model.vo.ChatUserInfo" alias="ChatUserInfo"/>
		<typeAlias type="com.kh.DeVenue.util.model.vo.EachChatInfo" alias="EachChatInfo"/>
		<typeAlias type="com.kh.DeVenue.util.model.vo.ProInfo" alias="ProInfo"/>
		<typeAlias type="com.kh.DeVenue.memberAccount.model.vo.Identify" alias="Identify"/>
		<typeAlias type="com.kh.DeVenue.memberAccount.model.dto.MemBasicInfo" alias="MemBasicInfo"/>
		<typeAlias type="com.kh.DeVenue.memberAccount.model.vo.Bank" alias="Bank"/>
		<typeAlias type="com.kh.DeVenue.memberAccount.model.vo.MemType" alias="MemType"/>
		<typeAlias type="com.kh.DeVenue.memberAccount.model.vo.Signature2" alias="Signature2"/>
		<typeAlias type="com.kh.DeVenue.memberAccount.model.vo.IdenMember" alias="IdenMember"/>
		<typeAlias type="com.kh.DeVenue.memberAccount.model.vo.DeclareDTO" alias="DeclareDTO"/>

	    <typeAlias type="com.kh.DeVenue.member.model.vo.FindClientDetail" alias="FindClientDetail"/>
	    <typeAlias type="com.kh.DeVenue.member.model.vo.FCprojectHistory" alias="FCprojectHistory"/>
	    <typeAlias type="com.kh.DeVenue.member.model.vo.CPeval" alias="CPeval"/>
	    <typeAlias type="com.kh.DeVenue.member.model.vo.FCeval" alias="FCeval"/>
	    <typeAlias type="com.kh.DeVenue.member.model.vo.EvalProjectList" alias="EvalProjectList"/>
	    <typeAlias type="com.kh.DeVenue.member.model.vo.MatchingPartnersList" alias="MatchingPartnersList"/>

	    <!-- myPage 파트너스 정보 -->
	    <typeAlias type="com.kh.DeVenue.myPage.model.vo.PartInfo" alias="PartInfo"/>
	    <!-- myPage 포트폴리오 -->
	    <typeAlias type="com.kh.DeVenue.myPage.model.vo.PortFolio" alias="PortFolio"/>
	    <!-- myPage 포트폴리오 이미지 -->
	    <typeAlias type="com.kh.DeVenue.myPage.model.vo.PortImg" alias="PortImg"/>
	    <!-- myPage 포트폴리오 기술 -->
	    <typeAlias type="com.kh.DeVenue.myPage.model.vo.PortTec" alias="PortTec"/>
	    <!-- myPagd 보유기술 -->
	    <typeAlias type="com.kh.DeVenue.myPage.model.vo.Skill" alias="Skill"/>
	    <!-- myPage 경력 -->
	    <typeAlias type="com.kh.DeVenue.myPage.model.vo.Career" alias="Career"/>
	    <!-- myPage 평가 -->
	    <typeAlias type="com.kh.DeVenue.myPage.model.vo.Eval" alias="Eval"/>
	    <!-- myPage 자격증 -->
	    <typeAlias type="com.kh.DeVenue.myPage.model.vo.Certificate" alias="Certificate"/>
	    <!-- myPage 학력 -->
	    <typeAlias type="com.kh.DeVenue.myPage.model.vo.SCCareer" alias="SCCareer"/>
	    <typeAlias type="com.kh.DeVenue.member.model.vo.Portfolio" alias="Pofo"/>
	    <typeAlias type="com.kh.DeVenue.member.model.vo.Image" alias="Image"/>
	    <typeAlias type="com.kh.DeVenue.project.model.vo.Application" alias="Application"/>

	    <typeAlias type="com.kh.DeVenue.project.model.vo.ApplyAnswer" alias="Answer"/>

	    
	    <!-- 클라이언트 마이페이지 메인 -->
	    <typeAlias type="com.kh.DeVenue.myPage.model.vo.CmypageProjectHistory" alias="CmypageProjectHistory"/>
	    <typeAlias type="com.kh.DeVenue.myPage.model.vo.CmypageSuggest" alias="CmypageSuggest"/>
	    <typeAlias type="com.kh.DeVenue.myPage.model.vo.CmypageProcess" alias="CmypageProcess"/>
	    <typeAlias type="com.kh.DeVenue.myPage.model.vo.CmypageCountPartners" alias="CmypageCountPartners"/>

	    <typeAlias type="com.kh.DeVenue.myPage.model.vo.CmypageClientInfo" alias="CmypageClientInfo"/>
	    <typeAlias type="com.kh.DeVenue.project.model.vo.ApplyPortfolio" alias="ApplyPF"/>

		<typeAlias type="com.kh.DeVenue.member.model.vo.FindClientDetail" alias="FindClientDetail"/>
		<typeAlias type="com.kh.DeVenue.project.model.vo.ProjectFilter" alias="Filter"/>
		<typeAlias type="com.kh.DeVenue.project.model.vo.ProjectSearch" alias="Search"/>
		
		<!-- 파트너스 찾기 view -->
		<typeAlias type="com.kh.DeVenue.findMember.model.vo.FindPartners" alias="FindPartners"/>
		<!-- 포트폴리오 기술 view -->
		<typeAlias type="com.kh.DeVenue.myPage.model.vo.PortTecView" alias="PortTecView"/>

		<typeAlias type="com.kh.DeVenue.myPage.model.vo.PmypagePartnersInfo" alias="PmypagePartnersInfo"/>
		<typeAlias type="com.kh.DeVenue.myPage.model.vo.PartnersApplyCount" alias="PartnersApplyCount"/>
		<typeAlias type="com.kh.DeVenue.myPage.model.vo.PartnersContractCount" alias="PartnersContractCount"/>
		<typeAlias type="com.kh.DeVenue.myPage.model.vo.PmypageSuggest" alias="PmypageSuggest"/>
		<typeAlias type="com.kh.DeVenue.myPage.model.vo.PmypageProcess" alias="PmypageProcess"/>
		
		<!-- 파트너스찾기 파트너스에 대한 클라이언트 평가 view -->
		<typeAlias type="com.kh.DeVenue.findMember.model.vo.PEvalView" alias="PEvalView"/>
		
		<!-- 종료프로젝트 -->
		<typeAlias type="com.kh.DeVenue.project.model.vo.ProjectEnd" alias="ProjectEnd"/>
		<!-- 매칭 파트너스 -->
		<typeAlias type="com.kh.DeVenue.project.model.vo.ProjectMatch" alias="ProjectMatch"/>
		<!-- 진행중인 프로젝트 -->
		<typeAlias type="com.kh.DeVenue.project.model.vo.ProjectProcess" alias="ProjectProcess"/>
		<typeAlias type="com.kh.DeVenue.member.model.vo.EPid" alias="EPid"/>
		
		<typeAlias type="com.kh.DeVenue.calculation.model.vo.Calculation" alias="Calculation"/>
		<typeAlias type="com.kh.DeVenue.myPage.model.vo.CmypagePayment" alias="CmypagePayment"/>
		
	</typeAliases>

	<mappers>
		<mapper resource="/mappers/project-mapper.xml"/>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/chat-mapper.xml"/>
		<mapper resource="/mappers/member2-mapper.xml"/>
		<mapper resource="/mappers/memberAccountMapper.xml"/>
		<mapper resource="/mappers/myPage-mapper.xml"/>
		<mapper resource="/mappers/calculation-mapper.xml"/>
		<mapper resource="/mappers/findPart-mapper.xml"/>
	</mappers>
	
</configuration>
